name: Sonar Report

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  sonar:
    runs-on: ubuntu-latest

    services:
      etcd:
        image: bitnami/etcd:latest
        env:
          ALLOW_NONE_AUTHENTICATION: "yes"
          ETCD_ADVERTISE_CLIENT_URLS: "http://localhost:2379"
        ports:
          - 2379

    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
        
      - name: Generate Sonar Report
        env:
          TESTING_ETCD_ENDPOINTS: http://localhost:${{ job.services.etcd.ports['2379'] }}
        run: go test -coverpkg=./... -coverprofile=coverage.out -json ./... > sonar-report.json

      - name: Upload coverage reports to Sonar
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        if: github.event.pull_request.head.repo.full_name == github.repository || env.SONAR_TOKEN != ''
        uses: SonarSource/sonarqube-scan-action@1a6d90ebcb0e6a6b1d87e37ba693fe453195ae25 # v5.3.1